{% load static %}
<div id="about" class="tokyo_tm_section">
    <div class="container">
        <div class="tokyo_tm_about">
            <div class="tokyo_tm_title">
                <div class="title_flex">
                    <div class="left">
                        <span>درباره من</span>
                        <h3>درباره من</h3>
                    </div>
                </div>
            </div>
            <div class="top_author_image">
                <img src="{% static 'assets/img/slider/1.jpg' %}" alt/>
            </div>
            <div class="about_title">
                <h3>امیرعلی فهیمی نسب</h3>
                <span>توسعه دهنده وب</span>
            </div>
            <div class="about_text">
                 <p>سلام من امیر علی فهیمی نسب هستم .
                                              اهل مشهدم. من توی زمینه توسعه وب و با پایتون کد میزنم.</p>
                 <p>نزدیک به 3 سال هست برنامه نویسی میکنم و از طریق این راه تجربه های بسیار مفید و گاهی هم تلخ بدست کسب کردم.</p>
            </div>
            <div class="tokyo_tm_short_info">
                <div class="left">
                    <div class="tokyo_tm_info">
                        <ul>
                            <li><span>روز تولد:</span><span>1380/5/26</span></li>
                            <li><span>سن:</span><span>22</span></li>
                            <li><span>نشانی:</span><span>بولوار وکیل اباد - اقبال لاهوری 9 پلاک 27</span>
                            </li>
                            <li>
                                <span>پست الکترونیک:</span>
                                <span>amirali99@gmail.coms</span>
                            </li>
                            <li>
                                <span>تلفن:</span>
                                <span><a href="tel:+98 9223580960">09223580960</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="tokyo_tm_info">
                        <ul>
                            <li><span>ملیت:</span><span>ایران</span></li>
                            <li><span>تحصیلات:</span><span>دانشگاه ازاد مشهد</span></li>
                            <li><span>علاقه:</span><span>کتاب خواندن و کار کردن زبان انگیلسی</span></li>
                            <li><span>فریلنسر:</span><span>در دسترس</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tokyo_tm_button" data-position="left">
                <a href="https://github.com/Amirali1401/Book_Shop_Project.git" download>
                    <span>دانلود رزومه</span>
                </a>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_progressbox">
        <div class="container">
            <div class="in">
                <div class="left">
                    <div class="tokyo_section_title">
                        <h3>مهارت برنامه نویسی</h3>
                    </div>
                    <div class="tokyo_progress">
                        <div class="progress_inner" data-value="30">
                            <span><span class="label"><span>متلب</span><span
                                                        class="number">30%</span></span>
                            <div class="background">
                                <div class="bar">
                                    <div class="bar_in"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress_inner" data-value="90">
												<span><span class="label">پایتون</span><span
                                                        class="number">90%</span></span>
                            <div class="background">
                                <div class="bar">
                                    <div class="bar_in"></div>
                                </div>
                            </div>
                        </div>
                        <div class="progress_inner" data-value="60">
												<span><span class="label">c++</span><span
                                                        class="number">60%</span></span>
                            <div class="background">
                                <div class="bar">
                                    <div class="bar_in"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="tokyo_section_title">
                        <h3>توانایی های زبانی</h3>
                    </div>
                    <div class="tokyo_progress">
                        <div class="progress_inner" data-value="90">
												<span><span class="label">انگلیسی</span><span
                                                        class="number">90%</span></span>
                            <div class="background">
                                <div class="bar">
                                    <div class="bar_in"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_skillbox">
        <div class="container">
            <div class="in">
                <div class="left">
                    <div class="tokyo_section_title">
                        <h3>دانش</h3>
                    </div>
                    <div class="tokyo_tm_skill_list">
                        <ul>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>بوت استرپ,
														انگولار</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>ری اکت ,
														ویو,
														لاراول</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>استایل,
														ساس,
														لس</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>گالپ, وب
														پک,
														گرنت</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>تیمن,
														گسپ</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="tokyo_section_title">
                        <h3>علایق</h3>
                    </div>
                    <div class="tokyo_tm_skill_list">
                        <ul>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg"
                                                               alt/>طراحی</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>ایجاد
														برنامه
														تلفن همراه</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>سایت
														بهينه سازي</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>سفارشی
														سایت اینترنتی</span>
                            </li>
                            <li>
													<span><img class="svg" src="img/svg/rightarrow.svg" alt/>فرا گرفتن
														تجارت الکترونیک</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_resumebox">
        <div class="container">
            <div class="in">
                <div class="left">
                    <div class="tokyo_section_title">
                        <h3>تحصیلات</h3>
                    </div>
                    <div class="tokyo_tm_resume_list">
                        <ul>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1374 - 1376</span>
                                    </div>
                                    <div class="place">
                                        <h3>دانشگاه آکسفورد</h3>
                                        <span>کارشناسی ارشد</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1370 - 1374</span>
                                    </div>
                                    <div class="place">
                                        <h3>دانشگاه تگزاس</h3>
                                        <span>مدرک لیسانس</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1369 - 1370</span>
                                    </div>
                                    <div class="place">
                                        <h3>کالج سیمون</h3>
                                        <span>فوق دیپلم</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="tokyo_section_title">
                        <h3>تجربه</h3>
                    </div>
                    <div class="tokyo_tm_resume_list">
                        <ul>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1378 - اکنون</span>
                                    </div>
                                    <div class="place">
                                        <h3>بازار </h3>
                                        <span>طراح اختصاصی</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1376 - 1378</span>
                                    </div>
                                    <div class="place">
                                        <h3> استدو</h3>
                                        <span>طراح تجربه کاربری</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="time">
                                        <span>1372 - 1376</span>
                                    </div>
                                    <div class="place">
                                        <h3>پارک فناوری</h3>
                                        <span>طراح وب</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_testimonials">
        <div class="container">
            <div class="tokyo_section_title">
                <h3>نقل قولها</h3>
            </div>
            <div class="list">
                <ul class="owl-carousel">
                    <li>
                        <div class="list_inner">
                            <div class="text">
                                <p>طراحی مینیمالیستی زیبا و پاسخ عالی و سریع با پشتیبانی.
                                    بسیار توصیه می شود.با تشکر از بازاریابی!</p>
                            </div>
                            <div class="details">
                                <div class="image">
                                    <div class="main" data-img-url="img/testimonials/1.jpg"></div>
                                </div>
                                <div class="info">
                                    <h3>اسکندر واکر</h3>
                                    <span>طراح</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="text">
                                <p>این افراد واقعاً می دانند چه کاری انجام می دهند!پشتیبانی عالی
                                    مشتری
                                    در دسترس بودن و مهربانی .</p>
                            </div>
                            <div class="details">
                                <div class="image">
                                    <div class="main" data-img-url="img/testimonials/2.jpg"></div>
                                </div>
                                <div class="info">
                                    <h3>ایزابل اسمیت</h3>
                                    <span>مدیریت محتوا</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="text">
                                <p>من کمی مشکل داشتم و پشتیبانی فقط به سرعت بسیار جذاب بود
                                    وضعیت را حل کنید.و ادامه دهید.</p>
                            </div>
                            <div class="details">
                                <div class="image">
                                    <div class="main" data-img-url="img/testimonials/3.jpg"></div>
                                </div>
                                <div class="info">
                                    <h3>بارکا کاینتو</h3>
                                    <span>معلم انگلیسی</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>